.vscode/**
.vscode-test/**
src/**
!src/my-skills/
!src/my-skills/**/
!src/my-skills/**/*.html
!src/my-skills/**/*.css
!src/my-skills/**/*.svg
!src/my-skills/**/*.png
!src/my-skills/**/*.webp
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
